In [2]:
import nltk 
from nltk.tokenize import word_tokenize , sent_tokenize
from nltk.stem import PorterStemmer ,WordNetLemmatizer
from nltk.corpus import stopwords
import re
import pandas as pd

In [3]:
path=pd.read_csv("D:\\Users\\surya\\Desktop\\python project\\Agentic _ai\\tripadvisor_hotel_reviews.csv")

In [4]:
path.sort_values("Rating")

                                                Review  Rating
69   ace grunge lives does mold mildew tiny bed met...       1
65   hated inn terrible, room-service horrible staf...       1
32   noise airconditioner-a standard, arranged stay...       1
88   worst hotel experience booked nonsmoking room ...       1
77   single rooms like hospital rooms single rooms ...       1
..                                                 ...     ...
52   outstanding choice reserved city view room nig...       5
81   great hotel hotel nice room really comfortable...       5
82   great stay elevators, agree previous posts hot...       5
86   good experience having booked minute escape un...       5
108  lovely hotel great location stayed vacation to...       5

[109 rows x 2 columns]

In [5]:
path.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [6]:
path["Review"][0]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews did valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe just noisy neighbors, aveda bath products nice, did not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience having pay 40 parking night,  '

In [7]:
path.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  109 non-null    object
 1   Rating  109 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

In [9]:
path["review_lower"]=path["Review"].str.lower()

In [10]:
path["review_lower"][1]

'ok nothing special charge diamond member hilton decided chain shot 20th anniversary seattle, start booked suite paid extra website description not, suite bedroom bathroom standard hotel room, took printed reservation desk showed said things like tv couch ect desk clerk told oh mixed suites description kimpton website sorry free breakfast, got kidding, embassy suits sitting room bathroom bedroom unlike kimpton calls suite, 5 day stay offer correct false advertising, send kimpton preferred guest website email asking failure provide suite advertised website reservation description furnished hard copy reservation printout website desk manager duty did not reply solution, send email trip guest survey did not follow email mail, guess tell concerned guest.the staff ranged indifferent not helpful, asked desk good breakfast spots neighborhood hood told no hotels, gee best breakfast spots seattle 1/2 block away convenient hotel does not know exist, arrived late night 11 pm inside run bellman busy chating cell phone help bags.prior arrival emailed hotel inform 20th anniversary half really picky wanted make sure good, got nice email saying like deliver bottle champagne chocolate covered strawberries room arrival celebrate, told needed foam pillows, arrival no champagne strawberries no foam pillows great room view alley high rise building good not better housekeeping staff cleaner room property, impressed left morning shopping room got short trips 2 hours, beds comfortable.not good ac-heat control 4 x 4 inch screen bring green shine directly eyes night, light sensitive tape controls.this not 4 start hotel clean business hotel super high rates, better chain hotels seattle,  '

In [11]:
path.head(5)

,Review,Rating,review_lower
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso..."

In [12]:
en_stopwords=stopwords.words("english")

In [13]:
en_stopwords.remove("not")

In [ ]:
no_stopwords=[x for x in sen if x not in en_stopwords]

In [18]:
path["reviews_no_stopwords"]=path["review_lower"].apply(lambda x: " ".join(word for word in x.split() if word not in (en_stopwords)))

In [29]:
def en_words(msg):
    msg=msg.split()
    words=[]
    for word in msg:
        if word not in en_stopwords:
            words.append(word)
    words=" ".join(words)
    return words

In [30]:
en_words(path["review_lower"][0])

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe noisy neighbors, aveda bath products nice, not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience pay 40 parking night,'

In [26]:
path["reviews_no_stopwords"]=path["review_lower"].apply(lambda x: " ".join(word for word in x.split() if word not in (en_stopwords)))

In [27]:
path["reviews_no_stopwords"][0]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe noisy neighbors, aveda bath products nice, not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience pay 40 parking night,'

In [28]:
path.head(3)

,Review,Rating,review_lower,reviews_no_stopwords
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...

In [34]:
path["review_no_stopwords_no_punc"]=path.apply(lambda x : re.sub(r"[*]","star",x["reviews_no_stopwords"]),axis=1)

In [35]:
path.head(3)

,Review,Rating,review_lower,reviews_no_stopwords,review_no_stopwords_no_punc
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4star experience hotel monaco s...

In [39]:
path["review_no_stopwords_no_punc"]=path.apply(lambda x : re.sub(r"([^\W\S])","", x["review_no_stopwords_no_punc"]),axis=1)

In [40]:
path.head(3)

,Review,Rating,review_lower,reviews_no_stopwords,review_no_stopwords_no_punc
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4star experience hotel monaco s...

In [41]:
path["tokenized"]=path.apply(lambda x: word_tokenize(x["review_no_stopwords_no_punc"]),axis=1)
path["tokenized"][0]

['nice',
 'hotel',
 'expensive',
 'parking',
 'got',
 'good',
 'deal',
 'stay',
 'hotel',
 'anniversary',
 ',',
 'arrived',
 'late',
 'evening',
 'took',
 'advice',
 'previous',
 'reviews',
 'valet',
 'parking',
 ',',
 'check',
 'quick',
 'easy',
 ',',
 'little',
 'disappointed',
 'non-existent',
 'view',
 'room',
 'room',
 'clean',
 'nice',
 'size',
 ',',
 'bed',
 'comfortable',
 'woke',
 'stiff',
 'neck',
 'high',
 'pillows',
 ',',
 'not',
 'soundproof',
 'like',
 'heard',
 'music',
 'room',
 'night',
 'morning',
 'loud',
 'bangs',
 'doors',
 'opening',
 'closing',
 'hear',
 'people',
 'talking',
 'hallway',
 ',',
 'maybe',
 'noisy',
 'neighbors',
 ',',
 'aveda',
 'bath',
 'products',
 'nice',
 ',',
 'not',
 'goldfish',
 'stay',
 'nice',
 'touch',
 'taken',
 'advantage',
 'staying',
 'longer',
 ',',
 'location',
 'great',
 'walking',
 'distance',
 'shopping',
 ',',
 'overall',
 'nice',
 'experience',
 'pay',
 '40',
 'parking',
 'night',
 ',']

In [42]:
ps=PorterStemmer()

In [46]:
path["stem"]=path["tokenized"].apply(lambda tokens : [ps.stem(token) for token  in tokens])

In [47]:
path.head()

,Review,Rating,review_lower,reviews_no_stopwords,review_no_stopwords_no_punc,tokenized,stem
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expens, park, got, good, deal, s..."
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, noth, special, charg, diamond, member, hi..."
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4star experience hotel monaco s...,"[nice, rooms, not, 4star, experience, hotel, m...","[nice, room, not, 4star, experi, hotel, monaco..."
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...","[unique, ,, great, stay, ,, wonderful, time, h...","[uniqu, ,, great, stay, ,, wonder, time, hotel..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...","[great, stay, great, stay, ,, went, seahawk, g...","[great, stay, great, stay, ,, went, seahawk, g..."

In [51]:
lemmatizer=WordNetLemmatizer()

In [52]:
path["lemmatize"]=path["tokenized"].apply(lambda tokens : [lemmatizer.lemmatize(token) for token in tokens])

In [53]:
path["lemmatize"][0]

['nice',
 'hotel',
 'expensive',
 'parking',
 'got',
 'good',
 'deal',
 'stay',
 'hotel',
 'anniversary',
 ',',
 'arrived',
 'late',
 'evening',
 'took',
 'advice',
 'previous',
 'review',
 'valet',
 'parking',
 ',',
 'check',
 'quick',
 'easy',
 ',',
 'little',
 'disappointed',
 'non-existent',
 'view',
 'room',
 'room',
 'clean',
 'nice',
 'size',
 ',',
 'bed',
 'comfortable',
 'woke',
 'stiff',
 'neck',
 'high',
 'pillow',
 ',',
 'not',
 'soundproof',
 'like',
 'heard',
 'music',
 'room',
 'night',
 'morning',
 'loud',
 'bang',
 'door',
 'opening',
 'closing',
 'hear',
 'people',
 'talking',
 'hallway',
 ',',
 'maybe',
 'noisy',
 'neighbor',
 ',',
 'aveda',
 'bath',
 'product',
 'nice',
 ',',
 'not',
 'goldfish',
 'stay',
 'nice',
 'touch',
 'taken',
 'advantage',
 'staying',
 'longer',
 ',',
 'location',
 'great',
 'walking',
 'distance',
 'shopping',
 ',',
 'overall',
 'nice',
 'experience',
 'pay',
 '40',
 'parking',
 'night',
 ',']